<!DOCTYPE html>
<html lang="en" ng-app="AUDashboardApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="DashboardController">

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
    
    <!-- jQuery UI Version 1.11.2 -->
    <script src="js/jquery-ui-1.11.2.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <!--Angular JS-->
    <!--<script src="js/angular.min.js"></script>-->
    <script src="js/angular.js"></script>

    <!--Angular Route JS-->
    <script src="js/angular-route.min.js"></script>
    
    <!--File Upload-->
    <script src="js/angular-file-upload.js"></script>
    
    <!--Main Dashboard Angular JS-->
    <script src="js/Dashboard/Dashboard.js"></script>

    <!--Chart JS Javascript-->
    <script src="js/Chart.js"></script>
    <!--Pagination Directive-->
    <script src="../js/dirPagination.js"></script>
    <script src="../js/dirPagination.spec.js"></script>

    <!--TC Angular JS-->
    <script src="js/tc-angular-chartjs.min.js"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="#Dashboard"><img src="images/DD_RGB_black-small.jpg" height=50px" /> </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#Dashboard">
                    <i class="fa fa-home fa-fw"></i>  
                </a>
            </li>
      
        </ul>
        <!-- /.navbar-top-links -->


    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 clearfix">
                &nbsp;
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-gears fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Active Projects</div>
                                <div class="huge">{{ActiveProjects}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#" >-->
                    <div class="panel-footer">
                        <a class="pull-left" href="#ActiveProjects">View Details</a>
                        <span class="pull-right"><a data-toggle="modal" data-target=".bs-ManageProjects-modal-lg">Manage</a> &nbsp;<i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                        <!--Projects - Manage Projects Modal Popup-->
                        <!--<div class="modal fade bs-ManageProjects-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Manage Projects
                                            <div class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></div>
                                            <span class="pull-right"><i class="fa fa-plus" ng-click="IsHidden='true'"></i>&nbsp;&nbsp;&nbsp;</span>


                                        </div>
                                        <div class="panel-body" ng-show="IsHidden">
                                            <form class="form-horizontal" name="addForm" role="form" ng-submit="AddProject(ProjectEntity)">
                                                <div class="form-group">
                                                    <label for="inputClientName" class="col-sm-2 control-label">Client</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputClientName" placeholder="Client Name" ng-model="ProjectEntity.Client">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputProjectName" class="col-sm-2 control-label">Project</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputProjectName" placeholder="Project Name" ng-model="ProjectEntity.ProjectName">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="selectProjectStage" class="col-sm-2 control-label">Stage</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="selectProjectStage" ng-model="ProjectEntity.Stage">
                                                            <option>Contacted</option>
                                                            <option>Qualified</option>
                                                            <option>Proposal</option>
                                                            <option>Verbal Commit</option>
                                                            <option>Sold</option>
                                                            <option>Design</option>
                                                            <option>Development</option>
                                                            <option>UAT</option>
                                                            <option>Completed</option>
                                                            <option>Abandoned / Lost</option>
                                                        </select>
                                                    </div>

                                                    <label for="inputGDM" class="col-sm-2 control-label">GDM</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="inputGDM" placeholder="India Contact" ng-model="ProjectEntity.GDM">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="selectProjectProbability" class="col-sm-2 control-label">Probability</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="selectProjectProbability" ng-model="ProjectEntity.Probability">
                                                            <option>N/A</option>
                                                            <option>Low</option>
                                                            <option>Medium</option>
                                                            <option>High</option>
                                                            <option>Sold</option>
                                                        </select>
                                                    </div>

                                                    <label for="selectTechnology" class="col-sm-2 control-label">Technology</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="selectTechnology" ng-model="ProjectEntity.Technology">
                                                            <option>Java</option>
                                                            <option>Sitecore</option>
                                                            <option>UX</option>
                                                            <option>FE</option>
                                                            <option>CQ5</option>
                                                            <option>Biztalk</option>
                                                            <option>Mobile</option>
                                                            <option>Web</option>
                                                            <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputStartDate" class="col-sm-2 control-label">StartDate</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" class="form-control" id="inputStartDate" placeholder="Start Date" ng-model="ProjectEntity.StartDate">
                                                    </div>

                                                    <label for="inputEndDate" class="col-sm-2 control-label">EndDate</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" class="form-control" id="inputEndDate" placeholder="End Date" ng-model="ProjectEntity.EndDate">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputResources" class="col-sm-2 control-label">Resources</label>
                                                    <div class="col-sm-4">
                                                        <input type="number" class="form-control" id="inputResources" placeholder="No. of Resources" ng-model="ProjectEntity.TotalResources">
                                                    </div>

                                                    <label for="selectWorkOrder" class="col-sm-2 control-label">WorkOrder</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="selectWorkOrder" ng-model="ProjectEntity.WorkOrderStatus">
                                                            <option>Not Received</option>
                                                            <option>EDC Review</option>
                                                            <option>Waiting AU Signature</option>
                                                            <option>Signed WO Received</option>
                                                            <option>WBS created</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox col-sm-offset-2 col-sm-2">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            IsActive
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-10">
                                                        <button type="submit" class="btn btn-success">Save</button> &nbsp;
                                                        <button type="button" class="btn btn-default" ng-click="IsHidden='false'">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>


                                        <div class="panel-body" ng-hide="IsHidden">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>Client</th>
                                                    <th>Project Name</th>
                                                    <th>Project Stage</th>
                                                    <th>Technology</th>
                                                </tr>
                                                <tr ng-repeat="project in ActiveProjectDetails">
                                                    <td>{{project.Client}}</td>
                                                    <td>{{project.ProjectName}}</td>
                                                    <td>{{project.Stage}}</td>
                                                    <td>{{project.Technology}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--End Manage Modal Popup-->


                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Open Actions</div>
                                <div class="huge">{{OpenActionItems}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <!--<a class="pull-left" data-toggle="modal" data-target=".bs-ActionItems-modal-lg">View Details</a>-->
                        <a class="pull-left" href="#NewActionItems">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>



                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-usd fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Operation Management</div>
                                <div class="huge">{{PendingInvoices}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <a class="pull-left" href="#Operations">View Details</a>
                        <span class="pull-right"><a href="#Invoices">Invoices</a>&nbsp;<i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>

                        <div class="modal fade bs-PendingInvoices-modal-lg" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Pending Invoices &nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-search"></i> <input ng-model="searchText" class="textSearch" /> <div class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>Project</th>
                                                    <th class="hidden-sm hidden-xs">Partner / Director</th>
                                                    <th>Invoice No.</th>
                                                    <th>Period</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">Date</th>
                                                    <th>Amount(USD)</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">ATB Approval</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">ATB Approved/Sent On</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">Invoice Raised</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">Invoice Raised On</th>
                                                    <th class="hidden-lg hidden-sm hidden-xs">Comments</th>
                                                    <th class="hidden-sm hidden-xs">Payment Received</th>
                                                </tr>
                                                <tr ng-repeat="invoice in AllInvoices | filter:searchText">
                                                    <td>{{invoice.Project}}</td>
                                                    <td class="hidden-sm hidden-xs">{{invoice.Partner}}</td>
                                                    <td>{{invoice.InvoiceNumber}}</td>
                                                    <td>{{invoice.Period}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.Date}}</td>
                                                    <td>{{invoice.AmountUSD}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.ATBApproval}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.ATBSentOn}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.InvoiceRaised}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.InvoiceRaisedOn}}</td>
                                                    <td class="hidden-lg hidden-sm hidden-xs">{{invoice.Comments}}</td>
                                                    <td class="hidden-sm hidden-xs">{{invoice.PaymentReceived}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Active Resources</div>
                                <div class="huge">{{ActiveResources}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <a class="pull-left" href="#ActiveResources">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>

                        <div class="modal fade bs-ActiveResources-modal-lg" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">


                                </div>
                            </div>
                        </div>

                    </div>
                    <!--</a>-->
                </div>
            </div>
        </div>
        <!-- /.row -->



        <div class="row">
            <!--Begin Three Charts-->
            <!--Container for 8 cols-->
            <div id="container">
                <div ng-view></div>
            </div>

        </div>



        <!-- /.row -->
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>

    


</body>

</html>
