<!DOCTYPE html>
<html lang="en" ng-app="AUDashboardApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="DashboardController">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">EDC - Australia Dashboard</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->


    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-gears fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Active Projects!</div>
                                <div class="huge">{{ActiveProjects}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#" >-->
                    <div class="panel-footer">
                        <a class="pull-left" data-toggle="modal" data-target=".bs-ActiveProjects-modal-lg">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                        <!--Modal Popup-->
                        <div class="modal fade bs-ActiveProjects-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Active Projects
                                            <div class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>Client</th>
                                                    <th>Project Name</th>
                                                    <th>Project Phase</th>
                                                    <th>Technology</th>
                                                </tr>
                                                <tr ng-repeat="project in ActiveProjectDetails">
                                                    <td>{{project.Client}}</td>
                                                    <td>{{project.ProjectName}}</td>
                                                    <td>{{project.Phase}}</td>
                                                    <td>{{project.Technology}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Modal Popup-->

                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Open Actions!</div>
                                <div class="huge">{{OpenActionItems}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <a class="pull-left" data-toggle="modal" data-target=".bs-ActionItems-modal-lg">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>

                        <div class="modal fade bs-ActionItems-modal-lg" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Action Items
                                            <div class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></div>
                                        </div>

                                        <div class="panel-body">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>Task Name</th>
                                                    <th>Owner</th>
                                                    <th>Due Date</th>
                                                    <th>Status</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                                <tr ng-repeat="item in AllActionItems">
                                                    <td>{{item.ShortDesc}}</td>
                                                    <td>{{item.Owner}}</td>
                                                    <td>{{item.DueDate}}</td>
                                                    <td>{{item.Status}}</td>
                                                    <td><button class="btn-github" ng-click="item.Status='Closed'">Close</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-usd fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Pending Invoices!</div>
                                <div class="huge">{{PendingInvoices}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <a class="pull-left" data-toggle="modal" data-target=".bs-PendingInvoices-modal-lg">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>

                        <div class="modal fade bs-PendingInvoices-modal-lg" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Pending Invoices &nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-search"></i> <input ng-model="searchText" class="textSearch" /> <div class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Partner / Director</th>
                                                    <th>Invoice No.</th>
                                                    <th>Period</th>
                                                    <th>Date</th>
                                                    <th>Amount(USD)</th>
                                                    <!--<th>"ATB Approval"</th>
                                                    <th>"ATB Approved/Sent On"</th>
                                                    <th>Invoice Raised</th>
                                                    <th>Invoice No</th>
                                                    <th>Invoice Raised On</th>
                                                    <th>Comments</th>
                                                    <th>Payment Received</th>-->
                                                </tr>
                                                <tr ng-repeat="invoice in AllInvoices | filter:searchText">
                                                    <td>{{invoice.Project}}</td>
                                                    <td>{{invoice.Partner}}</td>
                                                    <td>{{invoice.InvoiceNumber}}</td>
                                                    <td>{{invoice.Period}}</td>
                                                    <td>{{invoice.Date}}</td>
                                                    <td>{{invoice.AmountUSD}}</td>
                                                    <!--<td>{{invoice.ATBApproval}}</td>
                                                    <td>{{invoice.ATBSentOn}}</td>
                                                    <td>{{invoice.InvoiceRaised}}</td>
                                                    <td>{{invoice.InvoiceNumber}}</td>
                                                    <td>{{invoice.InvoiceRaisedOn}}</td>
                                                    <td>{{invoice.Comments}}</td>
                                                    <td>{{invoice.PaymentReceived}}</td>-->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <!--</a>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Active Resources!</div>
                                <div class="huge">{{ActiveResources}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#">-->
                    <div class="panel-footer">
                        <a class="pull-left" data-toggle="modal" data-target=".bs-ActiveResources-modal-lg">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>

                        <div class="modal fade bs-ActiveResources-modal-lg" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Current Resources &nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-search"></i> <input ng-model="searchResource" class="textSearch" /> <div class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-responsive">
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Primary Skill</th>
                                                    <th>Level</th>
                                                    <th>Current Project</th>
                                                    <th>Proposed Project</th>
                                                    <th>Start Date</th>
                                                    <th>Available On</th>
                                                </tr>
                                                <tr ng-repeat="resource in AllResources | filter: searchResource">
                                                    <td>{{resource.FirstName}}</td>
                                                    <td>{{resource.LastName}}</td>
                                                    <td>{{resource.PrimarySkill}}</td>
                                                    <td>{{resource.Level}}</td>
                                                    <td>{{resource.CurrentProject}}</td>
                                                    <td>{{resource.ProposedProject}}</td>
                                                    <td>{{resource.StartDate}}</td>
                                                    <td>{{resource.AvailableOn}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--</a>-->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <!--Begin Three Charts-->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i> Key Updates
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                Telstra Client India Visit
                                <ul>
                                    <li>
                                        Brendan Devers, Jen Cochrane and Adam Sandler along with Telstra client will be visiting Hyderabad and Mumbai office between 1st Sept and 5th Sept
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Decisions on AU/DD Testing CoE continue
                                <ul>
                                    <li>Process identified</li>
                                    <li>Identification of right resources for CoE in progress</li>
                                </ul>
                            </li>
                            <li>
                                CPA In Black
                                <ul>
                                    <li>Discussions completed with Hemant Joshi and Venkata Mothupalli</li>
                                    <li>Awaiting final decision before initiating the Visa processing</li>
                                </ul>
                            </li>
                            <li>
                                Telstra 24x7
                                <ul>
                                    <li>Project started on 7/28 with 2 iOS resources from Mumbai</li>
                                </ul>
                            </li>
                            <li>
                                VicRoads Phase 2
                                <ul>
                                    <li>Awaiting confirmation from AU on the proposed resources</li>
                                    <li>Running thin availability on .NET resources</li>
                                </ul>
                            </li>
                            <li>
                                AU Project Status Report
                                <ul>
                                    <li>Completed the final report for – Telstra MiniEve, AMP, Caltex, Telstra.com</li>
                                </ul>
                            </li>
                            <li>Awaiting confirmations on 2 projects - TafeNSW (Sitecore) and SydneyTrains (Java/CQ)</li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-ma fa-fw"></i> Key Updates
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                Telstra Client India Visit
                                <ul>
                                    <li>
                                        Brendan Devers, Jen Cochrane and Adam Sandler along with Telstra client will be visiting Hyderabad and Mumbai office between 1st Sept and 5th Sept
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Decisions on AU/DD Testing CoE continue
                                <ul>
                                    <li>Process identified</li>
                                    <li>Identification of right resources for CoE in progress</li>
                                </ul>
                            </li>
                            <li>
                                CPA In Black
                                <ul>
                                    <li>Discussions completed with Hemant Joshi and Venkata Mothupalli</li>
                                    <li>Awaiting final decision before initiating the Visa processing</li>
                                </ul>
                            </li>
                            <li>
                                Telstra 24x7
                                <ul>
                                    <li>Project started on 7/28 with 2 iOS resources from Mumbai</li>
                                </ul>
                            </li>
                            <li>
                                VicRoads Phase 2
                                <ul>
                                    <li>Awaiting confirmation from AU on the proposed resources</li>
                                    <li>Running thin availability on .NET resources</li>
                                </ul>
                            </li>
                            <li>
                                AU Project Status Report
                                <ul>
                                    <li>Completed the final report for – Telstra MiniEve, AMP, Caltex, Telstra.com</li>
                                </ul>
                            </li>
                            <li>Awaiting confirmations on 2 projects - TafeNSW (Sitecore) and SydneyTrains (Java/CQ)</li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Skill Resource Distribution
                    </div>
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>

                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Projects
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart1"></div>

                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="notification in notifications">
                                <i class={{notification.type}}></i> {{notification.message}}
                                <span class="pull-right text-muted small">
                                    <em>{{notification.eventdate}}</em>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Any Other Info
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="notification in notifications">
                                <i class={{notification.type}}></i> {{notification.message}}
                                <span class="pull-right text-muted small">
                                    <em>{{notification.eventdate}}</em>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!--End Three Charts-->
            </div>
        </div>
        <!-- /.row -->
        
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <!--Angular JS-->
    <script src="js/angular.min.js"></script>

    <!--Main Dashboard Angular JS-->
    <script src="js/Dashboard/Dashboard.js"></script>


</body>

</html>
