<div class="col-lg-4">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Actual vs Budget USI Hours
        </div>
        <div class="panel-body panel-chart">
            <!--<div id="morris-bar-chart"></div>-->
            <canvas tc-chartjs-bar chart-options="actualVsBudgetDataOptions" chart-data="actualVsBudgetData" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-ma fa-fw"></i> Active Pursuits by Close Period
        </div>
        <div class="panel-body panel-chart">
            <canvas tc-chartjs-bar chart-options="activePursuitsDataOptions" chart-data="activePursuitsData" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<div class="col-lg-4">

    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Actual USI Engagement By IM Lead (Hours)
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body panel-chart">
            <!--<canvas tc-chartjs-bar chart-options="USIEngmntByIMLeadDataOptions" chart-data="USIEngmntByIMLeadData" auto-legend></canvas>-->
            <chartist class="ct-chart ct-golden-section" chartist-data="barData" chartist-chart-type="Bar" chartist-chart-options="barOptions" chartist-responsive-options="barResponsiveOptions" chartist-events="events"></chartist>
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Active  USI Pursuits By Lead
        </div>
        <div class="panel-body panel-chart">
            <!--<div id="morris-bar-chart"></div>-->
            <!--<canvas tc-chartjs-bar chart-options="activePursuitsByLeadDataOptions" chart-data="activePursuitsByLeadData" auto-legend></canvas>-->
            <chartist class="ct-chart ct-golden-section" chartist-data="PBLbarData" chartist-chart-type="Bar" chartist-chart-options="PBLbarOptions" chartist-responsive-options="PBLbarResponsiveOptions" chartist-events="PBLevents"></chartist>
        </div>
        <!-- /.panel-body -->
    </div>

</div>
<div class="col-lg-4">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-ma fa-fw"></i> Actual USI Engagement By Client (Hours)
        </div>
        <div class="panel-body panel-chart">
            <!--<canvas tc-chartjs-bar chart-options="USIEngmntByClientDataOptions" chart-data="USIEngmntByClientData" auto-legend></canvas>-->
            <chartist class="ct-chart ct-golden-section" chartist-data="EBCbarData" chartist-chart-type="Bar" chartist-chart-options="EBCbarOptions" chartist-responsive-options="PBLbarResponsiveOptions" chartist-events="EBCevents"></chartist>
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Qualified USI Pursuits By Customer ($)
        </div>
        <div class="panel-body panel-chart">
            <!--<div id="morris-bar-chart"></div>-->
            <!--<canvas tc-chartjs-bar chart-options="QualifiedPursuitsByCustomerDataDataOptions" chart-data="QualifiedPursuitsByCustomerData" auto-legend></canvas>-->
            <chartist class="ct-chart ct-golden-section" chartist-data="PBCbarData" chartist-chart-type="Bar" chartist-chart-options="PBCbarOptions" chartist-responsive-options="PBLbarResponsiveOptions" chartist-events="PBCevents"></chartist>
        </div>
        <!-- /.panel-body -->
    </div>
</div>

