<div class="row">
    <!--Begin Three Charts-->
    <div class="col-lg-8">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i> Open Action Items
            </div>
            <div class="panel-body">
                    <form id="todo-form">
                        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                        <input id="new-AssignedTo" placeholder="Assigned To?" ng-model="newAssignedTo" autofocus>
                        <input type="button" class="btn-success btn-sm" value="Add" ng-click="addTodo()">
                    </form>

                <ul id="todo-list">
                    <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="todo.completed">
                            <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                            <label ng-dblclick="editTodo(todo)">{{todo.AssignedTo}}</label>
                            <button class="destroy" ng-click="removeTodo(todo)"></button>
                        </div>
                        <form ng-submit="doneEditing(todo)">
                            <input ng-trim="false" class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                            <input ng-trim="false" class="edit" ng-model="todo.AssignedTo" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">

                        </form>
                    </li>
                </ul>

                <link href="../css/plugins/ToDo/base.css" rel="stylesheet" />

            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-ma fa-fw"></i> Standard Documents Library
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="#">Work Order Template</a></li>
                    <li><a href="#">Visa Invitation Letter</a></li>
                    <li><a href="#">EDC Authorization Letter</a></li>
                    <li><a href="#">Key Travel Tips</a></li>

                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
   
    <div class="col-lg-4">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="notification in notifications">
                        <i class={{notification.type}}></i> {{notification.message}}
                        <span class="pull-right text-muted small">
                            <em>{{notification.eventdate}}</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Any Other Info
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="notification in notifications">
                        <i class={{notification.type}}></i> {{notification.message}}
                        <span class="pull-right text-muted small">
                            <em>{{notification.eventdate}}</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!--End Three Charts-->
    </div>
</div>
