    <!--Begin Three Charts-->
    <div class="col-lg-8">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i> Active Projects
            </div>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <tr>
                        <th>Client</th>
                        <th>Project Name</th>
                        <th>Project Stage</th>
                        <th>Technology</th>
                    </tr>
                    <tr ng-repeat="project in ActiveProjectDetails | filter:'active'">
                        <td>{{project.Client}}</td>
                        <td>{{project.ProjectName}}</td>
                        <td>{{project.Stage}}</td>
                        <td>{{project.Technology}}</td>
                    </tr>
                </table>
            </div>

            <!-- /.panel-body -->
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-ma fa-fw"></i> Standard Documents Library
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="#">Work Order Template</a></li>
                    <li><a href="#">Visa Invitation Letter</a></li>
                    <li><a href="#">EDC Authorization Letter</a></li>
                    <li><a href="#">Key Travel Tips</a></li>

                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    
 
