    <!--Begin Three Charts-->
    <div class="col-lg-8">
        <div class="panel panel-green">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i> Open Action Items
            </div>
            <div class="panel-body">
                    <form id="todo-form">
                        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                        <input id="new-AssignedTo" placeholder="Assigned To?" ng-model="newAssignedTo" autofocus>
                        <input type="button" class="btn-success btn-sm" value="Add" ng-click="addTodo()">
                    </form>

                <ul id="todo-list">
                    <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="todo.completed">
                            <label ng-dblclick="editTodo(todo)" id="Listed-todo">{{todo.title}}</label>
                            <label ng-dblclick="editTodo(todo)">{{todo.AssignedTo}}</label>
                            <button class="destroy" ng-click="removeTodo(todo)"></button>
                        </div>
                        <form ng-submit="doneEditing(todo)">
                            <input ng-trim="false" class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                            <input ng-trim="false" class="edit" ng-model="todo.AssignedTo" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                        </form>
                    </li>
                </ul>

                <link href="../css/plugins/ToDo/base.css" rel="stylesheet" />

            </div>
            <!-- /.panel-body -->
        </div>
 
    </div>
  
 
