<div class="col-lg-4">

    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Project Distribution
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <canvas tc-chartjs-doughnut chart-options="ProjectChartOptions" chart-data="ProjectChartData" class="col-lg-4" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>



    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-ma fa-fw"></i> Standard Documents Library
        </div>
        <div class="panel-body">
            <canvas tc-chartjs-line chart-options="ODYoYOptions" chart-data="ODYoYData" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Skill Resource Distribution
        </div>
        <div class="panel-body">
            <!--<div id="morris-bar-chart"></div>-->
            <canvas tc-chartjs-bar chart-options="skillChartOptions" chart-data="skillChartData" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Project Distribution
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <canvas tc-chartjs-doughnut chart-options="ProjectChartOptions" chart-data="ProjectChartData" class="col-lg-4" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-blue">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Skill Resource Distribution
        </div>
        <div class="panel-body">
            <!--<div id="morris-bar-chart"></div>-->
            <canvas tc-chartjs-bar chart-options="skillChartOptions" chart-data="skillChartData" auto-legend></canvas>
        </div>
        <!-- /.panel-body -->
    </div>


</div>