    <!--Begin Three Charts-->
    <div class="col-lg-4">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i> Key Updates
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        Telstra Client India Visit
                        <ul>
                            <li>
                                Brendan Devers, Jen Cochrane and Adam Sandler along with Telstra client will be visiting Hyderabad and Mumbai office between 1st Sept and 5th Sept
                            </li>
                        </ul>
                    </li>
                    <li>
                        Decisions on AU/DD Testing CoE continue
                        <ul>
                            <li>Process identified</li>
                            <li>Identification of right resources for CoE in progress</li>
                        </ul>
                    </li>
                    <li>
                        CPA In Black
                        <ul>
                            <li>Discussions completed with Hemant Joshi and Venkata Mothupalli</li>
                            <li>Awaiting final decision before initiating the Visa processing</li>
                        </ul>
                    </li>
                    <li>
                        Telstra 24x7
                        <ul>
                            <li>Project started on 7/28 with 2 iOS resources from Mumbai</li>
                        </ul>
                    </li>
                    <li>
                        VicRoads Phase 2
                        <ul>
                            <li>Awaiting confirmation from AU on the proposed resources</li>
                            <li>Running thin availability on .NET resources</li>
                        </ul>
                    </li>
                    <li>
                        AU Project Status Report
                        <ul>
                            <li>Completed the final report for – Telstra MiniEve, AMP, Caltex, Telstra.com</li>
                        </ul>
                    </li>
                    <li>Awaiting confirmations on 2 projects - TafeNSW (Sitecore) and SydneyTrains (Java/CQ)</li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-ma fa-fw"></i> Standard Documents Library
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="#">Work Order Template</a></li>
                    <li><a href="#">Visa Invitation Letter</a></li>
                    <li><a href="#">EDC Authorization Letter</a></li>
                    <li><a href="#">Key Travel Tips</a></li>

                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Skill Resource Distribution
            </div>
            <div class="panel-body">
                <div id="morris-bar-chart"></div>

            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Projects
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart1"></div>

            </div>
            <!-- /.panel-body -->
        </div>

    </div>
   

<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>